<div id="query-wrapper" class="col-md-12 m-auto">
    <div class="query-box" style="background-color: #6a6d9c;">
        <p>Roll-up</p>
    </div>
    <div class="query-box" style="background-color: #d55538;">
        <p>Drill Down</p>
    </div>
    <div class="query-box" style="background-color:#d9f0f7;">
        <p>Dice</p>
    </div>
    <div class="query-box" style="background-color:#569730;">
        <p>Slice</p>
    </div>
</div>