<div id="{{title}}-wrapper" class="col-md-6">
    <h4>{{title}} queries</h4>
    <div class="query-box" style="background-color: #6a6d9c;">
        <p>Query 1</p>
    </div>
    <div class="query-box" style="background-color: #d55538;">
        <p>Query 2</p>
    </div>
    <div class="query-box" style="background-color:#d9f0f7;">
        <p>Query 3</p>
    </div>
    <div class="query-box" style="background-color:#569730;">
        <p>Query 4</p>
    </div>
    <div class="query-box" style="background-color:#085683;">
        <p>Query 5</p>
    </div>
    <div class="query-box" style="background-color: #c992bf;">
        <p>Query 6</p>
    </div>
    <div class="query-box" style="background-color: #cc3494;">
        <p>Query 7</p>
    </div>
</div>