<div class="row w-100 mb-3">
    <h1 class="m-auto">OLAP Queries</h1>
</div>
<div class="row mx-5">
    {{>queryWrappers}}
</div>
<div class="row mx-5 mt-2">
    <pre class=" col-md-10">
        <code type="text" class="language-css">
                SELECT a query FROM cards;
        </code>
    </pre>
    <button id="submit" class="btn btn-primary col-md-1 ml-4">Submit Query</button>
</div>
<div id="input-header" class="row mx-5 mt-3" hidden>
    <div class="col-md-10">
        <h4 class=''>Inputs</h4><span> (optional)</span>
    </div>
</div>
<div id="state-option" class="row mx-5 mt-2" hidden>
    <label id="state-label" for="mostatenth" class="col-md-1 col-form-label" >State</label>
    <input id="state" class="form-control col-md-9" placeholder="Ex. SP, RJ, MG (separate by commas for multiple entries)"></input>
</div>
<div id="month-option" class="row mx-5 mt-2" hidden>
    <label id="month-label" for="month" class="col-md-1 col-form-label" >Month</label>
    <input id="month" class="form-control col-md-9" placeholder="1 to 12 (separate by commas for multiple entries)"></input>
</div>
<div id="year-option" class="row mx-5 mt-2" hidden>
    <label id="year-label" for="year" class="col-md-1 col-form-label" >Year</label>
    <input id="year" class="form-control col-md-2" placeholder="Ex. 2016">
    </input>
</div>
<hr class="my-5">
<p id="result-summary"></p>
<p id="error"></p>
{{>resultTable}}