<div class="row w-100 mb-5">
    <h1 class="m-auto">Queries</h1>
</div>
<div class="row mx-5">
    {{>queryWrappers title="unoptimized"}}
    {{>queryWrappers title="optimized"}}
</div>
<div class="row mx-5 mt-5">
    <pre class=" col-md-10">
        <code type="text" class="language-css">
                SELECT a query FROM cards;
        </code>
    </pre>
    <button id="submit" class="btn btn-primary col-md-1 ml-4">Submit Query</button>
</div>
<div id="date-options" class="row mx-5 mt-5" >
    <label id="month-label" for="month" class="col-md-1 col-form-label" hidden>Month</label>
    <select id="month" class="form-control col-md-2 mr-5" hidden>
        <option value="1">1</option>    
        <option value="2">2</option>    
        <option value="3">3</option>    
        <option value="4">4</option>    
        <option value="5">5</option>    
        <option value="6">6</option>    
        <option value="7">7</option>    
        <option value="8">8</option>    
        <option value="9">9</option>    
        <option value="10">10</option>
        <option value="11">11</option>    
        <option value="12">12</option>    
    </select>
    <label id="year-label" for="year" class="col-md-1 col-form-label" hidden>Year</label>
    <select id="year" class="form-control col-md-4" hidden>
        <option value="2017">2017</option>    
        <option value="2018">2018</option>    
    </select>
</div>
<hr class="my-5">
<p id="result-summary"></p>
<p id="error"></p>
{{>resultTable}}