<div class="row w-100 mb-5">
    <h1 class="m-auto">Queries</h1>
</div>
<div class="row mx-5">
    {{>queryWrappers title="unoptimized"}}
    {{>queryWrappers title="optimized"}}
</div>
<div class="row mx-5 mt-5">
    <pre class=" col-md-10">
        <code type="text" class="language-css">
                SELECT a query FROM cards;
        </code>
    </pre>
    <button id="submit" class="btn btn-primary col-md-1 ml-4">Submit Query</button>
</div>    
<hr class="my-5">
<p id="result-summary"></p>
<p id="error"></p>
{{>resultTable}}