<h1>Queries</h1>
<form>
    <div class="row">
        <input id="query" type="text" class="form-control form-control-lg col-lg-12 mt-1 mb-3" placeholder="Temporary query textbox">
    </div>
    <div class="row">
        <button id="submit" class="form-control form-control-lg btn btn-primary col-lg-2">Submit</button>
    </div>
    <hr class="my-5">
    {{>resultTable}}
</form>